body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #005f99;
  color: #fff;
  padding: 1em 2em;
}

.nav-title {
  margin: 0;
}

#app {
  background-color: #e0f7ff;
  padding: 2em;
}

.section-title {
  color: #005f99;
}

form {
  margin-bottom: 1em;
}

form input {
  padding: .5em;
  margin-right: .5em;
  border: none;
  border-radius: .25em;
}

form button {
  background-color: #005f99;
  color: #fff;
  border: none;
  border-radius: .25em;
  padding: .5em 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: #fff;
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .25em;
  border-left: .25em solid #005f99;
}
